<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="dbconnection"
             connectionString="Data Source=LAPTOP-5SNR2K20\SQLEXPRESS;Initial Catalog=PharmaHealix;Integrated Security=True;Trust Server Certificate=True;" />
	</connectionStrings>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>